; 请妥善保管您的配置
registry=https://macroverse-npm.pkg.coding.net/caixuan-main/packages/
always-auth=true
//macroverse-npm.pkg.coding.net/caixuan-main/packages/:username=packages-1658996624054
//macroverse-npm.pkg.coding.net/caixuan-main/packages/:_password=MGE4ZmY1MWRjZjNmZDA2NTc2YzU1NDQwMmMxZTU0NDJmZTM3ZGQ4MQ==
//macroverse-npm.pkg.coding.net/caixuan-main/packages/:email=13740080@qq.com
